.sidePanel {
    height: 30vh;
    width: 15vw;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 1rem;
    background-color: var(--primary-accent);
    display: grid;
    text-align: center;
    margin: 0.5rem;
    grid-template-rows: auto;
}

.sidePanel h2 {
    font-size: 1.5rem;
    color: var(--primary-textColor);
}
.sidePanel div {
    padding: 8px;
    font-size: 1rem;
    display: block;
    color: var(--primary-textColor);
}
