.header {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.ticker {
    display: inline-flex;
    overflow: hidden;
}

.siteTitle {
    font-size: 2.5rem;
    width: 20%;
    height: 5vh;
    background-color: rgb(53, 146, 146);
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 2px solid black;
}

.coinsContainer {
    display: inline-flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(53, 146, 146);
    overflow: visible;
}

.coinName {
    font-size: 0.9rem;
}

.coinPricing {
    font-size: 1rem;
}

img {
    height: 2rem;
    width: 2rem;
}

.scrollingInfo {
    color: white;
    text-transform: capitalize;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 12vw;
    overflow: hidden;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 80s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(700%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-2500%);
    }
}

@media (max-width: 1050px) {
    .header {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .coinsContainer {
        display: inline-flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(53, 146, 146);
        overflow: visible;
    }
}

@media (max-width: 880px) {
    .header {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .coinsContainer {
        display: inline-flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(53, 146, 146);
        overflow: visible;
    }
    .coinName {
        font-size: 0.75rem;
    }
    .coinPricing {
        font-size: 0.75rem;
    }
    img {
        height: 1.5rem;
        width: 1.5rem;
    }
}
@media (max-width: 700px) {
    .header {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .coinsContainer {
        display: inline-flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(53, 146, 146);
        overflow: visible;
    }
    .coinName {
        font-size: 0.75rem;
    }
    .coinPricing {
        font-size: 0.75rem;
    }
    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .scrollingInfo {
        color: white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 15vw;
        overflow: hidden;

        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 40s linear infinite;
    }

    /* for Firefox */
    @-moz-keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
        }
        to {
            -moz-transform: translateX(-100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from {
            -webkit-transform: translateX(100%);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(700%);
        }
        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-2500%);
        }
    }
}
@media (max-width: 500px) {
    .header {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .siteTitle {
        font-size: 2rem;
    }

    .coinsContainer {
        display: inline-flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(53, 146, 146);
        overflow: visible;
    }
    .coinName {
        font-size: 0.75rem;
    }
    .coinPricing {
        font-size: 0.75rem;
    }
    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .scrollingInfo {
        color: white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 25vw;
        overflow: hidden;

        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 40s linear infinite;
    }

    /* for Firefox */
    @-moz-keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
        }
        to {
            -moz-transform: translateX(-100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from {
            -webkit-transform: translateX(100%);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(700%);
        }
        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-2500%);
        }
    }
}
