.siteTitle {
    font-size: 2.5rem;
    width: 100vw;
    height: 5vh;
    background-color: gold;
    margin: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: start;
}

.coinsContainer {
    overflow: hidden;
}

img {
    height: 2rem;
    width: 2rem;
}

/* .scrollingInfo {
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
} */
