:root {
    --primary-accent: slategray;
    --primary-textColor: whitesmoke;
    background-color: #393e41;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

main {
    display: grid;
    grid-template-rows: 6.5rem 4rem;
    height: auto;
    width: 100vw;
}
