.mainContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 0.25rem;
}

.searchBar {
    display: flex;
    font-size: 1.2rem;
    text-align: start;
    height: 1.5rem;
    border-radius: 8px;
}

.searchField {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.submitButton {
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.filledHeart {
    color: red;
    font-size: 1.5rem;
}

.favoriteButton {
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    right: 1.9rem;
    top: 5.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.favoriteButton:hover {
    transform: scale(1.2);
}

.directions {
    display: flex;
    font-size: 1rem;
    align-items: center;
    color: whitesmoke;
}
.lastTwentyFour {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.marketInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0.4rem;
    font-size: 1.5rem;
}

.priceTrends {
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
}
.twentyFourChange {
    font-size: 1.3rem;
    padding-left: 1rem;
}

.coinSymbol {
    font-size: 2rem;
    display: flex;
    justify-content: start;
    padding-left: 6.5rem;
    padding-bottom: 4rem;
}

.coinCardDisplay {
    display: grid;
    grid-template-rows: 5rem 4.5rem;
    height: 50vh;
    width: 50vw;
    background-color: #c7efcf;
    align-items: center;
    padding: 1rem;
    border: 2px black solid;
    border-radius: 8px;
}

.coinIdentity {
    display: inline-flex;
    gap: 1rem;
}

.coinCard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    position: absolute;
    padding-right: 1.5rem;
    margin-top: 2rem;
}

.coinNameForCard {
    font-size: 3rem;
    text-transform: capitalize;
    color: black;
    text-align: start;
}

.coinPicForCard {
    color: black;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
}

.coinPriceForCard {
    color: black;
    text-align: center;
    font-size: 2rem;
}
@media (max-width: 1300px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 1.3rem;
    }
    .twentyFourChange {
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 1rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
    @media (max-width: 1200px) {
        .lastTwentyFour {
            text-decoration: underline;
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .marketInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 0.4rem;
            font-size: 1.5rem;
        }

        .priceTrends {
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 1.3rem;
        }
        .twentyFourChange {
            font-size: 1.3rem;
            padding-left: 1rem;
        }

        .coinSymbol {
            font-size: 2rem;
            display: flex;
            justify-content: start;
            padding-left: 6.5rem;
            padding-bottom: 4rem;
        }

        .coinCardDisplay {
            display: grid;
            grid-template-rows: 5rem 4.5rem;
            height: 50vh;
            width: 50vw;
            background-color: #c7efcf;
            align-items: center;
            padding: 1rem;
            border: 2px black solid;
            border-radius: 8px;
        }

        .coinIdentity {
            display: inline-flex;
            gap: 1rem;
        }

        .coinCard {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-right: 1.5rem;
            padding-left: 3rem;
            margin-left: 5rem;
        }

        .coinNameForCard {
            font-size: 3rem;
            text-transform: capitalize;
            color: black;
            text-align: start;
        }

        .coinPicForCard {
            color: black;
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;
        }

        .coinPriceForCard {
            color: black;
            text-align: center;
            font-size: 2rem;
        }
        .searchBar {
            display: flex;
            font-size: 1.2rem;
            text-align: start;
            height: 1.5rem;
        }

        .searchField {
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding-left: 10rem;
        }

        .submitButton {
            height: 2rem;
            border-radius: 5px;
        }
    }
    @media (max-width: 1000px) {
        .lastTwentyFour {
            text-decoration: underline;
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .marketInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 0.4rem;
            font-size: 1.5rem;
        }

        .priceTrends {
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 1.3rem;
        }
        .twentyFourChange {
            font-size: 1.3rem;
            padding-left: 1rem;
        }

        .coinSymbol {
            font-size: 2rem;
            display: flex;
            justify-content: start;
            padding-left: 6.5rem;
            padding-bottom: 4rem;
        }

        .coinCardDisplay {
            display: grid;
            grid-template-rows: 5rem 4.5rem;
            height: 50vh;
            width: 50vw;
            background-color: #c7efcf;
            align-items: center;
            padding: 1rem;
            border: 2px black solid;
            border-radius: 8px;
        }

        .coinIdentity {
            display: inline-flex;
            gap: 1rem;
        }

        .coinCard {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-right: 1.5rem;
            padding-left: 3rem;
        }

        .coinNameForCard {
            font-size: 3rem;
            text-transform: capitalize;
            color: black;
            text-align: start;
        }

        .coinPicForCard {
            color: black;
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;
        }

        .coinPriceForCard {
            color: black;
            text-align: center;
            font-size: 2rem;
        }
        .searchBar {
            display: flex;
            font-size: 1.2rem;
            text-align: start;
            height: 1.5rem;
        }

        .searchField {
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding-left: 10rem;
        }

        .submitButton {
            height: 2rem;
            border-radius: 5px;
        }
    }
}
@media (max-width: 750px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 1.3rem;
    }
    .twentyFourChange {
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 6rem;
        padding-right: 1.5rem;
        padding-left: 0rem;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 10rem;
        margin-left: 8rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
}

@media (max-width: 850px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }
    .twentyFourChange {
        font-size: 15px;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
        margin-right: 5rem;
    }

    .favoriteButton {
        position: absolute;
        margin-right: 5.5rem;
    }
    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
        margin-left: 12rem;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 10rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
}

@media (max-width: 800px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }
    .twentyFourChange {
        font-size: 15px;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
        margin-top: 2rem;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 10rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
}

@media (max-width: 750px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }
    .twentyFourChange {
        font-size: 15px;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }
    .favoriteButton {
        left: 23rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
        margin-left: 15rem;
        margin-top: 2rem;
        width: 50vw;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 2rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
    .directions {
        visibility: hidden;
    }
}
@media (max-width: 680px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }
    .twentyFourChange {
        font-size: 15px;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }
    .favoriteButton {
        left: 22rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
        margin-left: 15rem;
        margin-top: 2rem;
        width: 50vw;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 2rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
    .directions {
        visibility: hidden;
    }
}
@media (max-width: 650px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }
    .twentyFourChange {
        font-size: 15px;
        padding-left: 1rem;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 6.5rem;
        padding-bottom: 4rem;
    }
    .favoriteButton {
        left: 21rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
        margin-left: 15rem;
        margin-top: 2rem;
        width: 50vw;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 2rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }
    .directions {
        visibility: hidden;
    }
}

@media (max-width: 636px) {
    .lastTwentyFour {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .marketInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0.4rem;
        font-size: 1.5rem;
    }
    .marketVolume {
        font-size: 20px;
    }

    .priceTrends {
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 18px;
    }
    .twentyFourChange {
        font-size: 1rem;
        padding-left: 13px;
    }

    .coinSymbol {
        font-size: 2rem;
        display: flex;
        justify-content: start;
        padding-left: 5.5rem;
        padding-bottom: 4rem;
    }

    .coinCardDisplay {
        display: grid;
        grid-template-rows: 5rem 4.5rem;
        height: 50vh;
        width: 50vw;
        background-color: #c7efcf;
        align-items: center;
        padding: 1rem;
        border: 2px black solid;
        border-radius: 8px;
    }

    .coinIdentity {
        display: inline-flex;
        gap: 1rem;
    }

    .coinCard {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-right: 1.5rem;
        padding-left: 1rem;
    }

    .coinNameForCard {
        font-size: 3rem;
        text-transform: capitalize;
        color: black;
        text-align: start;
    }

    .coinPicForCard {
        color: black;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
    }

    .coinPriceForCard {
        color: black;
        text-align: center;
        font-size: 2rem;
    }
    .searchBar {
        display: flex;
        font-size: 1.2rem;
        text-align: start;
        height: 1.5rem;
    }

    .searchField {
        display: flex;
        gap: 1rem;
        justify-content: center;
        padding-left: 5rem;
    }

    .submitButton {
        height: 2rem;
        border-radius: 5px;
    }

    .directions {
        visibility: hidden;
    }
    @media (max-width: 620px) {
        .lastTwentyFour {
            text-decoration: underline;
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .marketInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 0.4rem;
            font-size: 1.5rem;
        }
        .marketVolume {
            font-size: 20px;
        }

        .priceTrends {
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 18px;
        }
        .twentyFourChange {
            font-size: 1rem;
            padding-left: 13px;
        }

        .coinSymbol {
            font-size: 2rem;
            display: flex;
            justify-content: start;
            padding-left: 5.5rem;
            padding-bottom: 4rem;
        }

        .coinCardDisplay {
            display: grid;
            grid-template-rows: 5rem 4.5rem;
            height: 50vh;
            width: 50vw;
            background-color: #c7efcf;
            align-items: center;
            padding: 1rem;
            border: 2px black solid;
            border-radius: 8px;
            width: 50vw;
        }

        .coinIdentity {
            display: inline-flex;
            gap: 1rem;
        }

        .coinCard {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-right: 1.5rem;
            padding-left: 1rem;
        }

        .coinNameForCard {
            font-size: 3rem;
            text-transform: capitalize;
            color: black;
            text-align: start;
        }

        .coinPicForCard {
            color: black;
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;
        }

        .coinPriceForCard {
            color: black;
            text-align: center;
            font-size: 2rem;
        }
        .searchBar {
            display: flex;
            font-size: 1.2rem;
            text-align: start;
            height: 1.5rem;
        }

        .searchField {
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding-left: 10rem;
        }

        .submitButton {
            height: 2rem;
            border-radius: 5px;
        }
        .favoriteButton {
            left: 320px;
            margin-top: 50px;
        }

        @media (max-width: 570px) {
            .lastTwentyFour {
                text-decoration: underline;
                display: flex;
                justify-content: center;
                margin: 1rem;
            }

            .marketInfoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin: 0.4rem;
                font-size: 1.5rem;
            }
            .marketVolume {
                font-size: 20px;
            }

            .priceTrends {
                padding-bottom: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                font-size: 18px;
            }
            .twentyFourChange {
                font-size: 1rem;
                padding-left: 13px;
            }

            .coinSymbol {
                font-size: 2rem;
                display: flex;
                justify-content: start;
                padding-left: 5.5rem;
                padding-bottom: 4rem;
            }

            .coinCardDisplay {
                display: grid;
                grid-template-rows: 5rem 4.5rem;
                height: 50vh;
                width: 50vw;
                background-color: #c7efcf;
                align-items: center;
                padding: 1rem;
                border: 2px black solid;
                border-radius: 8px;
            }

            .mainContainer {
                padding: 0;
            }
            .coinIdentity {
                display: inline-flex;
                gap: 1rem;
            }

            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                padding-right: 1.5rem;
                padding-left: 1rem;
                margin-right: 6rem;
            }
            .favoriteButton {
                left: 300px;
            }

            .coinNameForCard {
                font-size: 3rem;
                text-transform: capitalize;
                color: black;
                text-align: start;
            }

            .coinPicForCard {
                color: black;
                height: 3.5rem;
                width: 3.5rem;
                text-align: center;
            }

            .coinPriceForCard {
                color: black;
                text-align: center;
                font-size: 2rem;
            }
            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .searchField {
                display: flex;
                gap: 1rem;
                justify-content: center;
                padding-left: 10rem;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
        }
        @media (max-width: 550px) {
            .lastTwentyFour {
                text-decoration: underline;
                display: flex;
                justify-content: center;
                margin: 1rem;
            }

            .marketInfoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin: 0.4rem;
                font-size: 1.5rem;
            }
            .marketVolume {
                font-size: 20px;
            }

            .priceTrends {
                padding-bottom: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                font-size: 15px;
            }
            .twentyFourChange {
                font-size: 1rem;
                padding-left: 12px;
            }
            .favoriteButton {
                left: 280px;
            }
            .coinSymbol {
                font-size: 2rem;
                display: flex;
                justify-content: start;
                padding-left: 6.5rem;
                padding-bottom: 4rem;
            }

            .coinCardDisplay {
                display: grid;
                grid-template-rows: 5rem 4.5rem;
                height: 50vh;
                width: 50vw;
                background-color: #c7efcf;
                align-items: center;
                padding: 1rem;
                border: 2px black solid;
                border-radius: 8px;
            }

            .coinIdentity {
                display: inline-flex;
                gap: 1rem;
            }

            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin: 2rem;
                margin-left: 10rem;
                padding-right: 1.5rem;
                padding-left: 1rem;
            }

            .coinNameForCard {
                font-size: 3rem;
                text-transform: capitalize;
                color: black;
                text-align: start;
            }

            .coinPicForCard {
                color: black;
                height: 3.5rem;
                width: 3.5rem;
                text-align: center;
            }

            .coinPriceForCard {
                color: black;
                text-align: center;
                font-size: 2rem;
            }
            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .searchField {
                display: flex;
                gap: 1rem;
                justify-content: center;
                padding-left: 5rem;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
        }

        @media (max-width: 530px) {
            .lastTwentyFour {
                text-decoration: underline;
                display: flex;
                justify-content: center;
                margin: 1rem;
            }

            .marketInfoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                margin: 0.4rem;
                font-size: 1.5rem;
            }
            .marketVolume {
                font-size: 20px;
            }

            .priceTrends {
                padding-bottom: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                font-size: 15px;
            }
            .twentyFourChange {
                font-size: 1rem;
                padding-left: 13px;
            }

            .coinSymbol {
                font-size: 2rem;
                display: flex;
                justify-content: start;
                padding-left: 6.5rem;
                padding-bottom: 4rem;
            }

            .coinCardDisplay {
                display: grid;
                grid-template-rows: 5rem 4.5rem;
                height: 50vh;
                width: 50vw;
                background-color: #c7efcf;
                align-items: center;
                padding: 1rem;
                border: 2px black solid;
                border-radius: 8px;
            }

            .coinIdentity {
                display: inline-flex;
                gap: 1rem;
            }

            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin: 6rem;
                padding-right: 1.5rem;
                padding-left: 11rem;
            }
            .favoriteButton {
                margin: auto;
            }

            .coinNameForCard {
                font-size: 3rem;
                text-transform: capitalize;
                color: black;
                text-align: start;
            }

            .coinPicForCard {
                color: black;
                height: 3.5rem;
                width: 3.5rem;
                text-align: center;
            }

            .coinPriceForCard {
                color: black;
                text-align: center;
                font-size: 2rem;
            }
            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .searchField {
                display: flex;
                gap: 1rem;
                justify-content: center;
                padding-left: 5rem;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
        }
        @media (max-width: 500px) {
            .coinCardDisplay {
                display: flex;
                height: 50vh;
                width: auto;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 2rem;
                gap: 2rem;
                border: 2px black solid;
                border-radius: 10px;
            }
            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin: 0;
                padding-left: 15rem;
                padding: 5rem;
            }

            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .searchField {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                padding-left: 10rem;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
            .favoriteButton {
                background-color: transparent;
                border-radius: 5px;
                position: absolute;
                right: 5.5rem;
                top: 2.5rem;
                cursor: pointer;
            }
        }
        @media (max-width: 428px) {
            .coinCardDisplay {
                display: flex;
                height: 50vh;
                width: auto;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 2rem;
                border: 2px black solid;
                border-radius: 10px;
                overflow: hidden;
            }
            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin: 0;
                padding-left: 12rem;
                overflow: hidden;
            }

            .coinNameForCard {
                font-size: 2rem;
            }

            .coinPriceForCard {
                font-size: 1.5rem;
            }
            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
            .coinCardDisplay {
                display: flex;
                height: 50vh;
                width: auto;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 2rem;
                border: 2px black solid;
                border-radius: 10px;
                overflow: hidden;
            }
            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin: 0;
                padding-left: 12rem;
                overflow: hidden;
            }

            .coinNameForCard {
                font-size: 2rem;
            }

            .coinPriceForCard {
                font-size: 1.5rem;
            }
            .searchBar {
                display: flex;
                font-size: 1.2rem;
                text-align: start;
                height: 1.5rem;
            }

            .searchField {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                padding-left: 15rem;
                overflow: hidden;
            }

            .submitButton {
                height: 2rem;
                border-radius: 5px;
            }
        }
        @media (max-width: 750px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 713px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 650px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 600px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 565px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 560px) {
            .directions {
                visibility: hidden;
            }
        }
        @media (max-width: 470px) {
            .searchField {
                padding-left: 15rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
            }
            .submitButton {
                height: 2rem;
                width: 4rem;
                border-radius: 5px;
            }
        }

        @media (max-width: 1200px) {
            .searchField {
                display: flex;
                gap: 0.5rem;
                justify-content: center;
                padding-left: 17rem;
                margin: 1rem;
            }
        }
        @media (max-width: 530px) {
            .searchField {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: center;
                padding-left: 12rem;

                align-items: center;
            }
            .submitButton {
                width: 4rem;
            }
            .coinCardDisplay {
                display: flex;
                height: 57vh;
                width: 50vw;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 1rem;
                border: 2px black solid;
                border-radius: 10px;
            }
            .coinCard {
                position: relative;
                display: flex;
                padding-top: 1.8rem;
                flex-direction: column;
                position: absolute;
                margin: 6rem;
            }
        }
        @media (max-width: 525px) {
            .searchField {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: center;
                padding-left: auto;
                margin: auto;
                overflow: hidden;
                align-items: center;
            }
            .coinCardDisplay {
                display: flex;
                height: 57vh;
                width: 50vw;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 1rem;
                border: 2px black solid;
                border-radius: 10px;
            }
            .coinCard {
                position: relative;
                display: flex;
                padding-top: 1.8rem;
                flex-direction: column;
                position: absolute;
                margin: 6rem;
            }
        }

        @media (max-width: 1200px) {
            .coinCardDisplay {
                display: flex;
                height: 50vh;
                width: 30vw;
                flex-direction: column;
                background-color: gainsboro;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 1rem;
                border: 2px black solid;
                border-radius: 10px;
            }
            .coinCard {
                position: relative;
                display: flex;
                flex-direction: column;
                position: absolute;
                padding-left: 1rem;
            }
        }
    }
    @media (max-width: 1500px) {
        .lastTwentyFour {
            text-decoration: underline;
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .marketInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 0.4rem;
            font-size: 1.5rem;
        }
        .favoriteButton {
            top: 40px;
        }

        .priceTrends {
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 0.8rem;
            text-align: center;
        }
        .twentyFourChange {
            font-size: 15px;
            padding-left: 1rem;
        }

        .coinSymbol {
            font-size: 2rem;
            display: flex;
            justify-content: start;
            padding-left: 5.5rem;
            padding-bottom: 6rem;
        }

        .coinCardDisplay {
            display: grid;
            grid-template-rows: 5rem 4.5rem;
            height: auto;
            width: 50vw;
            background-color: #c7efcf;
            align-items: center;
            padding: 1rem;
            border: 2px black solid;
            border-radius: 8px;
        }

        .coinIdentity {
            display: inline-flex;
            gap: 1rem;
            margin-top: 3rem;
        }

        .coinCard {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-right: 1rem;
            margin-left: 16rem;
        }

        .coinNameForCard {
            font-size: 3rem;
            text-transform: capitalize;
            color: black;
            text-align: start;
        }

        .coinPicForCard {
            color: black;
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;
        }

        .coinPriceForCard {
            color: black;
            text-align: center;
            font-size: 2rem;
        }
        .searchBar {
            display: flex;
            font-size: 1.2rem;
            text-align: start;
            height: 1.5rem;
        }

        .searchField {
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding-left: 10rem;
            padding-top: 1rem;
        }

        .submitButton {
            height: 2rem;
            border-radius: 5px;
        }
    }
    @media (max-width: 525px) {
        .searchField {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            padding-left: auto;
            margin: auto;
            overflow: hidden;
            align-items: center;
            margin-left: 5rem;
        }
        .coinCardDisplay {
            display: flex;
            height: 61vh;
            width: 50vw;
            flex-direction: column;
            background-color: #c7efcf;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
            border: 2px black solid;
            border-radius: 10px;
        }
        .coinCard {
            position: relative;
            display: flex;
            padding-top: 1.8rem;
            flex-direction: column;
            position: absolute;
        }
    }
    @media (max-width: 428px) {
        .lastTwentyFour {
            text-decoration: underline;
            display: flex;
            justify-content: center;
            margin: 1rem;
        }

        .marketInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin: 0.4rem;
            font-size: 1rem;
            text-align: center;
        }

        .favoriteButton {
            top: 40px;
            left: 210px;
        }

        .priceTrends {
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 0.8rem;
            flex-direction: column;
        }
        .twentyFourChange {
            font-size: 12px;
            padding-left: 1rem;
        }

        .coinSymbol {
            font-size: 1.5rem;
            display: flex;
            justify-content: start;
            padding-left: 5rem;
            padding-bottom: 7rem;
        }

        .coinCardDisplay {
            display: grid;
            grid-template-rows: 5rem 4.5rem;
            height: 55vh;
            width: 300px;
            background-color: #c7efcf;
            align-items: center;
            border: 2px black solid;
            border-radius: 8px;
            margin-left: -3.5rem;
        }

        .coinIdentity {
            display: inline-flex;
            gap: 1rem;
        }

        .coinCard {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 50%;
            margin-left: 16.5rem;
        }

        .coinNameForCard {
            font-size: 2rem;
            text-transform: capitalize;
            color: black;
            text-align: start;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }

        .coinPicForCard {
            color: black;
            height: 2.5rem;
            width: 2.5rem;
            text-align: center;
        }

        .coinPriceForCard {
            color: black;
            text-align: center;
            font-size: 1rem;
        }
        .marketVolume {
            font-size: 0.8rem;
        }
        .searchBar {
            display: flex;
            font-size: 1.2rem;
            text-align: start;
            height: 1.5rem;
        }

        .searchField {
            display: flex;
            justify-content: center;
            margin-left: 4rem;
        }

        .submitButton {
            height: 2rem;
            border-radius: 5px;
        }
    }
}
